{% extends "global/base.html" %}
{% load static %}
{% block title %}Accueil{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'accueil/accueilo.css' %}">

<svg viewBox="0 0 960 300">
	<symbol id="s-text">
		<text text-anchor="middle" x="50%" y="80%">Moviemon</text>
	</symbol>

	<g class = "g-ants">
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
	</g>
</svg>
<h1>Attrapez les tous</h1>

    <div class="box">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <div class="content">
        <div class="containerMenu">
            <div>
                <div style="font-family: 'Montserrat';">A :</div>
                new game
            </div>
            <div>
                <div style="font-family: 'Montserrat';">B :</div>
                load game
            </div>
        </div>
      </div>
      
    </div>

    {% include "gamepadAccueil.html" %}
    {% endblock %}