{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accueil/accueil.css' %}">

<!-- <audio src="{% static 'music/AnaCaptainslogue - Noir Et Blanc Vie.mp3' %}" autoplay="true">
    <p>If you are reading this, it is because your browser does not support the audio element.     </p>
</audio> -->
<!-- <embed loop="true" src="{% static 'music/boure.mp3' %}" hidden="true" type="video/quicktime"></embed> -->
    

<svg viewBox="0 0 960 300">
	<symbol id="s-text">
		<text text-anchor="middle" x="50%" y="80%">Moviemon</text>
	</symbol>

	<g class = "g-ants">
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
		<use xlink:href="#s-text" class="text-copy"></use>
	</g>
</svg>
<!-- <hr class='separator mediumWidth'> -->

<div class='containerCentered'>
    <div class="rainbow">
        <div class="menuText">
            A: new game <br>
            B: load game
        </div>
    </div>
</div>
