{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accueil/gamepad.css' %}">

<div class="gamepadContainer" style="color: white">
  <div class="gamepadInnerBorder">
    <table>
      <tr>
        <td></td>
        <td><img class='buttonImg' src="{% static 'pic/triangle haut.png' %}" alt="up"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><img class='buttonImg' src="{% static 'pic/triangle gauche.png' %}" alt="left"></td>
        <td></td>
        <td><img class='buttonImg' src="{% static 'pic/triangle droite.png' %}" alt="right"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><img class='buttonImg' src="{% static 'pic/A.png' %}" alt="A"></td>
        <td><img class='buttonImg' src="{% static 'pic/B.png' %}" alt="B"></td>
      </tr>
      <tr>
        <td></td>
        <td><img class='buttonImg' src="{% static 'pic/triangle bas.png' %}" alt="down"></td>
        <td></td>
        <td><img class='buttonImg' src="{% static 'pic/START.png' %}" alt="START"></td>
        <td></td>
        <td><img class='buttonImg' src="{% static 'pic/SELECT.png' %}" alt="SELECT"></td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
  <!-- yolo -->
</div>
